@use "../abstracts/variables" as *;

// Global styles 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $color-blue-100;
}
