@use "../abstracts/variables" as *;

.main-content {
    height: 10.24rem;
    width: 95%;
    position: relative;
    padding: 4rem 3rem;
}

.principal {
    width: 50%;
    margin: 3rem 22rem;
}

.btn-container {
    display: flex;
    gap: 2rem;
}

.text-container {
    height: 50rem;
}

.logo {
    margin: 0 5rem;
}

